.vscode/settings.json
*.json
!.vscode/tasks.json
!.vscode/extensions.json
build/
.pio/
.cache/
.clang_complete
__vm/*
*.vcxproj*
.vs/*
*.sln
Debug/*
Release/*
debug.cfg
esp32.svd
src/plugins/*
!src/plugins/Plugins.config.h
!src/plugins/website/
!src/plugins/website/**
debug.svd
z.*
.agents/
.codex/
*.log
serial_*.log
